body {
  overflow-x: hidden;
  font-family: 'Avenir'; }

header.parallax-window {
  min-height: 800px; }

h2 {
  font-size: 3vw;
  margin-top: 50px;
  margin-bottom: 50px; }

.btn-lg {
  font-size: 1.2vw; }

/* NAV */
.topnav {
  font-size: 14px;
  padding: 5px 0 11px 0;
  border-bottom: none; }
  .topnav .navbar-inner {
    width: 1500px; }
    .topnav .navbar-inner .navbar-collapse .navbar-right {
      margin-top: 20px; }
      .topnav .navbar-inner .navbar-collapse .navbar-right a {
        color: white; }

#nav_image {
  width: 175px;
  height: 55px; }

@media (max-width: 480px) {
  #nav_image {
    width: 120px;
    height: 37px;
    margin-left: 23px; } }

.navbar {
  transition: all 0.6s ease-out; }

.navbar.scrolled {
  background: #444444;
  background: rgba(0, 0, 0, 0.78); }

.btn {
  margin-bottom: 30px; }

div.section2-container h3 {
  font-size: 35px;
  margin-bottom: 30px;
  margin-top: 45px; }

div.section2-container p {
  font-size: 20px;
  margin-bottom: 45px; }

div.section2-container button {
  outline: none;
  border: none;
  background-color: #0DA8E0;
  color: white;
  padding: 9px 11px 7px; }
  div.section2-container button:hover {
    color: white;
    background-color: #097298; }

div.section2-container button.buy-now-btn {
  margin-right: 55px; }

@media (max-width: 480px) {
  div.section2-container {
    margin: 0 10px 0 10px; }
    div.section2-container .text-block {
      width: 100%; }
    div.section2-container img {
      width: 100%;
      margin-top: 50px;
      margin-bottom: 50px; } }

@media (min-width: 768px) {
  div.section2-container {
    margin: 0 10px 0 10px; }
    div.section2-container .text-block {
      width: 50%; }
    div.section2-container img {
      width: 48%;
      margin-top: 50px;
      margin-bottom: 50px; } }

@media (min-width: 1200px) {
  div.section2-container {
    margin: 0 100px; }
    div.section2-container .text-block {
      width: 50%; }
    div.section2-container img {
      width: 100%;
      margin-top: 50px;
      margin-bottom: 50px; } }

@media (min-width: 1600px) {
  div.section2-container {
    margin: 0 350px; } }

div.section3-container {
  position: relative; }
  div.section3-container div.how-it-works {
    position: absolute;
    top: 63px;
    background: #fff;
    padding: 10px 28px;
    background: rgba(255, 255, 255, 0.5); }
    div.section3-container div.how-it-works h3 {
      font-size: 35px;
      margin-bottom: 20px; }
    div.section3-container div.how-it-works p {
      font-size: 20px;
      margin-bottom: 25px;
      opacity: 0.8; }
    div.section3-container div.how-it-works ul {
      margin-bottom: 25px;
      font-size: 15px;
      list-style-type: circle;
      opacity: 0.8; }
      div.section3-container div.how-it-works ul li {
        margin-bottom: 15px; }
      div.section3-container div.how-it-works ul li:before {
        font-size: 170%; }

@media (max-width: 480px) {
  div.section3-container {
    min-height: 775px; }
    div.section3-container div.how-it-works {
      left: 10px;
      width: 93%; } }

@media (min-width: 768px) {
  div.section3-container {
    min-height: 675px; }
    div.section3-container div.how-it-works {
      left: 10px;
      width: 46%; } }

@media (min-width: 1200px) {
  div.section3-container {
    min-height: 600px; }
    div.section3-container div.how-it-works {
      left: 350px;
      width: 23%; } }

@media (min-width: 1600px) {
  div.section3-container {
    min-height: 600px; }
    div.section3-container div.how-it-works {
      left: 350px;
      width: 23%; } }

div.section4-container {
  min-height: 543px;
  margin-left: 350px; }
  div.section4-container .row1 {
    margin-bottom: 7px; }
  div.section4-container div.icon {
    width: 25.333333%;
    position: relative; }
    div.section4-container div.icon i.fa {
      width: 8.8%;
      border: solid;
      position: absolute;
      left: 180px;
      top: 50px;
      color: #0DA8E0;
      border-radius: 15%;
      border-width: 2px; }
    div.section4-container div.icon i.fa-child {
      padding: 8px 47px 8px 18px; }
    div.section4-container div.icon i.fa-book {
      padding: 8px 53px 8px 14px; }
    div.section4-container div.icon i.fa-usd {
      padding: 8px 43px 8px 20px; }
    div.section4-container div.icon i.fa-cog {
      padding: 8px 50px 8px 15px; }
    div.section4-container div.icon i.fa-cube {
      padding: 8px 53px 8px 15px; }
    div.section4-container div.icon i.fa-bolt {
      padding: 8px 42px 8px 23px; }
    div.section4-container div.icon div.text {
      margin-top: 145px;
      text-align: center; }

div.section5-container {
  min-height: 600px;
  background-color: #BEC4CD;
  position: relative; }
  div.section5-container div.the-app {
    position: absolute;
    left: 422px;
    top: 88px;
    width: 565px;
    background: #fff;
    padding: 10px 28px;
    background: rgba(255, 255, 255, 0.5); }
    div.section5-container div.the-app h3 {
      font-size: 3.5vw;
      margin-bottom: 20px; }
    div.section5-container div.the-app p {
      font-size: 1.1vw;
      margin-bottom: 25px;
      opacity: 0.8; }
    div.section5-container div.the-app button {
      outline: none;
      border: none;
      background-color: #0DA8E0;
      color: white;
      padding: 9px 11px 7px; }
      div.section5-container div.the-app button:hover {
        color: white;
        background-color: #097298; }
  div.section5-container img {
    height: 500px;
    margin-top: 50px;
    margin-left: 155px; }

div.section6-container {
  min-height: 600px;
  width: 1150px;
  position: relative;
  margin-left: 350px; }
  div.section6-container h3 {
    margin: 50px 0 50px 0;
    text-align: center;
    font-size: 3.5vw; }
  div.section6-container .girl2 {
    position: relative;
    padding: 0;
    border-right: solid white 10px; }
    div.section6-container .girl2 img {
      width: 100%;
      height: 100%;
      vertical-align: top; }
    div.section6-container .girl2:after, div.section6-container .girl2:before {
      position: absolute;
      opacity: 0;
      transition: all .25s ease-out; }
    div.section6-container .girl2:after {
      content: '\A';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(255, 255, 255, 0.6); }
    div.section6-container .girl2:before {
      content: attr(data-content);
      text-align: center;
      font-size: 1.8vw;
      width: 100%;
      z-index: 1;
      bottom: 30%;
      padding: 4px 10px;
      text-align: center;
      box-sizing: border-box; }
    div.section6-container .girl2:hover:after, div.section6-container .girl2:hover:before {
      opacity: 1; }
  div.section6-container .girl1 {
    position: relative;
    padding: 0;
    border-left: solid white 10px; }
    div.section6-container .girl1 img {
      width: 96%;
      width: 96%;
      vertical-align: top; }
    div.section6-container .girl1:after, div.section6-container .girl1:before {
      position: absolute;
      opacity: 0;
      transition: all .25s ease-out; }
    div.section6-container .girl1:after {
      content: '\A';
      width: 96%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(255, 255, 255, 0.6); }
    div.section6-container .girl1:before {
      content: attr(data-content);
      text-align: center;
      font-size: 1.8vw;
      width: 96%;
      z-index: 1;
      bottom: 35%;
      padding: 4px 10px;
      text-align: center;
      box-sizing: border-box; }
    div.section6-container .girl1:hover:after, div.section6-container .girl1:hover:before {
      opacity: 1; }
  div.section6-container div.kickstarter img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px; }

div.section7-container {
  height: 500px;
  background: rgba(235, 236, 228, 0.5); }
  div.section7-container div.TTK-logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px; }
  div.section7-container div.mailing-list .input-group {
    margin-left: auto;
    margin-right: auto;
    width: 600px; }
  div.section7-container button {
    background-color: #0DA8E0;
    color: white; }
    div.section7-container button:hover {
      color: white;
      background-color: #097298; }
  div.section7-container ul {
    padding-left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
    div.section7-container ul li {
      display: inline-block; }
      div.section7-container ul li a {
        outline: none;
        border-radius: 50%;
        padding-top: 17px;
        padding-bottom: 13px;
        border: solid #686868 2px;
        background: none; }
        div.section7-container ul li a:hover {
          background: #097298;
          border-color: white; }
          div.section7-container ul li a:hover i {
            color: white; }
        div.section7-container ul li a i {
          color: #686868; }
  div.section7-container h3 {
    text-align: center;
    color: #686868; }

footer {
  margin: 50px 0; }

.patent p {
  text-align: right;
  padding-right: 20px; }

@media (max-width: 480px) {
  .patent p {
    text-align: left;
    padding-left: 20px; } }

.copyright p {
  padding-left: 20px; }

/*Form*/
.container p {
  text-align: center;
  padding-bottom: 10px;
  font-size: 15px; }

.container h3 {
  font-size: 30px;
  padding-top: 20px;
  text-align: center; }

div.panel-body {
  padding: 40px;
  background-color: #23263C;
  border-radius: 5px; }

.mailing-list-messages, .form-messages {
  color: white; }
