$buttoncolor: #0DA8E0;

// .panel-outer {
//   width: 16%;
//   .panel-body {
//     padding: 9px;
//     height: 88px;
//     position: relative;
//     // background: #eb01a5;
//     background-image: url("http://core0.staticworld.net/images/article/2014/09/blue_virtual_data_wave_pattern_fractal_curve_technology_background_thinkstock-100411462-primary.idge.jpg"), linear-gradient(white, black); /* fallback */
//     // background-image: url("./img/websitepic.jpg"), linear-gradient(#eb01a5, #d13531);
//     img {
//       border: 0;
//       border-right: solid #BEC4CD;
//       border-left: solid #BEC4CD;
//       border-radius: 15%;
//       width: 31px;
//       position: absolute;
//       margin-top: 49%;
//     }
//     h3, p {
//       color: white
//     }
//     h3 {
//       font-size: 20px;
//       margin-top: 0;
//     }
//   }
// }

body {
    overflow-x: hidden;
    font-family: 'Avenir';
    font-weight: lighter;
}

header.parallax-window {
    min-height: 800px;
    width: 100%;
}

@media (max-width: 480px) {
    header.parallax-window {
      width: 160%;
    }
}

@media (min-width: 768px) { 
  header.parallax-window {
    width: 100%;
  }
}

h2 {
    font-size: 3vw;
    font-weight: 300;
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn-lg {
    font-size: 1.2vw;
}

/* NAV */

.navbar {
  .container-fluid {
    .navbar-header {
      span {
        border: solid 1px #BEC4CD;
      }
    }
    width: 80%;
    height: 100px;
    font-size: 14px; 
    padding: 5px 0 11px 0;
    border-bottom: none;
    .navbar-collapse {
      color: black;
      .navbar-right {
        margin-top: 20px;
        a {
          color: white;
          &:hover {
            background-color: darken(#fff, 50%);
          }         
        }
        a.contact-nav {
          color: #454444;
          &:hover {
            background-color: lighten(#454444, 60%);
          }  
        }
      }
    }
  }
 }

.navbar-toggle {
  margin-top: 16px;
  border: 1px solid #1a242f;
}

.navbar {
  transition: all 0.6s ease-out;
}

.navbar.scrolled {
  background: rgb(68, 68, 68); //IE
  background: rgba(0, 0, 0, 0.78); //NON-IE
  .container-fluid {
    .navbar-collapse {
      .navbar-right {
        a.contact-nav {
          color: white;
          &:hover {
            background-color: darken(#fff, 50%);
          }  
        }
      }
    }
  }
}

#nav_image {
   width: 175px;
   height: 55px;
}

@media (max-width: 480px) {
    #nav_image {
        width: 120px;
        height: 37px;
        margin-left: 23px;
    }
    .navbar {
      width: 320px;
      // background-color: white;
      height: 78px;
    }
    .navbar.scrolled {
      display: none;
    }
}

.btn {
    margin-bottom: 30px;
}

header {
  img {
    position: absolute;
    left: 62%;
    top: 16%;
  }
}

@media (max-width: 480px) {
   header {
     img {
      position: absolute;
      top: 35%;
      width: 31%;
     }
   }
}

// Section 2

div.section2-container {
  // min-height: 600px;
  h3 {
    font-size: 35px;
    margin-bottom: 30px;
    margin-top: 45px;
    font-weight: 400;
  }
  p {
    font-size: 20px;
    margin-bottom: 45px;
  }
  button {
    outline: none;
    border: none;
    background-color: $buttoncolor;
    color: white;
    padding: 9px 11px 7px;
    &:hover {
      color: white;
      background-color: darken($buttoncolor, 15%);
    }
  }
  button.buy-now-btn {
    margin-right: 55px;
  }
}

@media (max-width: 480px) {
  div.section2-container {
    margin: 0 10px 0 10px;
    .text-block {
      width: 100%;
    }
    img {
      width: 100%;
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }
  .navbar.scrolled {
    background: transparent;
    background: transparent;
  }
}

@media (min-width: 768px) { 
  div.section2-container {
    margin: 0 10px 0 10px;
    .text-block {
      width: 100%;
    }
    img {
      width: 100%;
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }
}

@media (min-width: 1200px) { 
  div.section2-container {
    margin: 0 100px;
    .text-block {
      width: 50%;
    }
    img {
      width: 100%;
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }
}

@media (min-width: 1600px) { 
  div.section2-container {
    margin: 0 350px;
    img {

    }
  }
}

//Section 3

div.section3-container {
  // min-height: 600px;
  position: relative;
  div.how-it-works {
    top: 63px;
    max-height: 80%;
    background: #fff;
    padding: 10px 28px;
    background: rgba(255, 255, 255, 0.5);
    h3 {
      margin-bottom: 20px;
      font-weight: 400;
    }
    p {
      margin-bottom: 17px;
      opacity: 0.8;
    }
    ol {
      margin-bottom: 17px;
      font-size: 15px;
      opacity: 0.8;
      li {
        margin-bottom: 15px;        
      }
      li:before {
        font-size: 170%;
      }
    }
  }
}

@media (max-width: 480px) {
  div.section3-container {
    min-height: 775px;
    div.how-it-works {
      position: absolute;
      top: 10%;
      margin: 0 8px;
      h3 {
        font-size: 7vw;
        margin-bottom: 20px;
        font-weight: 400;
      }
      p {
        font-size: 5vw;
        margin-bottom: 25px;
        opacity: 0.8;
      }
    }
  }
}

@media (min-width: 768px) { 
  div.section3-container {
    min-height: 675px;
    div.how-it-works {
      position: absolute;
      top: 19%;
      left: 3%;
      right: 3%;
      h3 {
        font-size: 5vw;
        margin-bottom: 20px;
        font-weight: 400;
      }
      p {
        font-size: 2vw;
        margin-bottom: 25px;
        opacity: 0.8;
      }
    }
  }  
}

@media (min-width: 1200px) { 
  div.section3-container {
    min-height: 600px;
    div.how-it-works {
      left: 350px;
      width: 23%;
      top: 10%;
      h3 {
        font-size: 2vw;
        margin-bottom: 12px;
        margin-top: 9px;
        font-weight: 400;
      }
      p {
        font-size: 1vw;
        margin-bottom: 25px;
        opacity: 0.8;
      }
      ol {
        font-size: 12px;
      }
    }
  }  
}

@media (min-width: 1600px) { 
  div.section3-container {
    min-height: 600px;
    div.how-it-works {
      left: 350px;
      width: 23%;
      top: 10%;
      h3 {
        font-size: 2vw;
        margin-bottom: 12px;
        margin-top: 9px;
        font-weight: 400;
      }
      p {
        font-size: 1vw;
        margin-bottom: 25px;
        opacity: 0.8;
      }
    }
  }  
}

//Section 4

div.section4-container {
  min-height: 600px;  
  .row1 {
    margin-top: 30px;
    min-height: 300px; 
  }
  .row2 {
    margin-bottom: 30px;
    min-height: 300px; 
  }
    div.icon {      
      position: relative;
      margin: 0 20%;
      i.fa {
        width: 8.8%;
        border: solid;
        margin-bottom: 20px;
        color: $buttoncolor;
        border-radius: 15%;
        border-width: 2px;
      }
      i.fa-child {
        padding: 8px 47px 8px 18px;
      }
      i.fa-book {
        padding: 8px 53px 8px 14px;
      }
      i.fa-usd {
        padding: 8px 43px 8px 20px;
      }
      i.fa-cog {
        padding: 8px 50px 8px 15px;
      }
      i.fa-cube {
        padding: 8px 53px 8px 15px;
      }
      i.fa-bolt {
        padding: 8px 42px 8px 23px;
      }
      div.text {
        margin-top: 10%;
        text-align: center;
      }
    }
}

@media (max-width: 480px) {
  div.section4-container {
    margin-left: 10px;
    margin-right: 10px;
    div.icon {
      width: 100%;
      margin: 0;
      i.fa {
      }
      p.bolt-p {
        margin-bottom: 50px;
      }
    }
  }
}

@media (min-width: 768px) { 
  div.section4-container {
    width: 100%;    
    div.icon {
      i.fa {
      }
      p, h4 {
      }
      p.bolt-p {
        margin-bottom: 50px;
      }
    }    
  }  
}

@media (min-width: 900px) {
  div.section4-container {
    width: 100%;    
    div.icon {
      i.fa {
      }
      p, h4 {
      }
      p.bolt-p {
        margin-bottom: 50px;
      }
    }    
  }  
}

@media (min-width: 1200px) { 
  div.section4-container {
    div.icon {
      p, h4 {
        width: 100%;
      }
      i.fa {
      }
      p.bolt-p {
        margin-bottom: 50px;
      }
    }
  }  
}

@media (min-width: 1600px) { 
  div.section4-container {
    div.row2 {
      div.icon {
        p, h4 {
        }
        i.fa {
        }
      }
    }
  }  
}

//Section 5 

div.section5-container {
  background-color: #BEC4CD;
  // position: relative;
  // div.row {
  //   margin-right: 10%;
  //   margin-left: 10%;
  //   height: 100%;
  //   .col-lg-6 {
  //     height: 100%;
  //   }
  // }
  div.the-app {    
    background: #fff;
    padding: 18px 28px 0;
    background: rgba(255, 255, 255, 0.5);
    margin: 5% 14% 0 0;
    width: 50%;
    float: right;
    h3 {
      font-size: 35px;
      margin-bottom: 20px;
      font-weight: 400;
    }
    p {
      font-size: 0.9vw;
      margin-bottom: 25px;
      opacity: 0.8;
    }
    button {
      outline: none;
      border: none;
      background-color: $buttoncolor;
      color: white;
      padding: 9px 11px 7px;
      &:hover {
        color: white;
        background-color: darken($buttoncolor, 15%);
      }
    }
  }
  // img {
  //   height: 500px;
  //   margin-top: 50px;
  //   margin-left: 25%;
  // }
}

@media (max-width: 480px) {
  div.section5-container {
    height: 177%;
    .col-xs-12 {
      height: 50%;
    }
    div.the-app {
      margin: 3% 2% 10%;
      width: 96%;
      p {
        font-size: 3.6vw;
      }
    }
  } 
}

@media (min-width: 768px) {
  div.section5-container {
    height: 100%;
    .col-sm-12-1 {
      height: 40%;
    }
    .col-sm-12-2 {
      height: 60%;
    }
    div.the-app {
      width: 72%;
      margin-top: 7%;
      p {
        font-size: 1.6vw;
      }
    }
  }
}

@media (min-width: 1200px) { 
  div.section5-container {
    .col-md-6 {
      height: 100%;
    }
    height: 77%;
    div.the-app {
      width: 50%;
      margin: 5% 7% 0 0;
      p {
        font-size: 0.9vw;
      }
    }
  }  
}

@media (min-width: 1600px) { 
  div.section5-container {
    .col-md-6 {
      height: 100%;
    }
    height: 77%;
    div.the-app {
      margin: 5% 14% 0 0;
      p {
        font-size: 0.9vw;
      }
    }
  }  
}



//Section 6

div.section6-container {
  min-height: 600px;
  position: relative;
  div.row {
    margin-left: 15%;
    margin-right: 15%;
  }
  h3 {    
    font-size: 35px;
    font-weight: 400;
  }
  .girl2 {
    position: relative;
    padding: 0;
    
    img {
      vertical-align: top;
    }
    &:after, &:before {
      position: absolute;      
      opacity: 0;
      transition: all .25s ease-out;
    }
    &:after {
      content: '\A';
      width: 100%;
      height: 100%;
      top: 0; 
      left: 0;
      background: rgba(255, 255, 255, 0.6);
    }
    &:before {
      content: attr(data-content);
      z-index: 1;
      bottom: 43%;
      padding: 4px 10px;
      text-align: center;
      box-sizing: border-box;
    }
    &:hover:after, &:hover:before {
      opacity: 1;
    }
  }
  .girl1 {
    position: relative;
    padding: 0;
    // border-left: solid white 10px;    
    &:after, &:before {
      position: absolute;      
      opacity: 0;
      transition: all .25s ease-out;
    }
    &:after {
      content: '\A';
      width: 100%;
      height: 100%;
      top: 0; 
      left: 0;
      background: rgba(255, 255, 255, 0.6);
    }
    &:before {
      content: attr(data-content);
      z-index: 1;
      bottom: 43%;
      padding: 4px 10px;
      display: block;
      box-sizing: border-box;
    }
    &:hover:after, &:hover:before {
      opacity: 1;
    }
  } 
}

@media (max-width: 480px) {
  div.section6-container {
    margin-left: 10px;
    h3 {
      margin-bottom: 10%;
      margin-top: 10%;
      font-weight: 400;
      text-align: center;
    }
    .girl2 {
      img {
        width: 100%;
      }
      &:before {
          width: 100%;
          text-align: center;
      }
    }
    .girl1 {
      margin-top: 30px;
      img {
        width: 100%;
      }
      &:before {
          width: 100%;
          text-align: center;
      }
    }
    div.kickstarter {
      img {
        width: 100%;
        display: block;
        margin-top: 10%;
      }   
    }
  }
}

@media (min-width: 768px) {
  div.section6-container {
    margin-left: 10px;
    h3 {
      margin: 50px 220px;
      font-weight: 400;
    }
    .girl2 {
      margin-bottom: 30px;
      img {
        width: 58%;
        margin-left: 19%;
      }
      &:before {
          width: 58%;
          text-align: center;
          margin-left: 19%;
      }
    }
    .girl1 {
      img {
        width: 58%;
        margin-left: 19%;
      }
      &:before {
          width: 58%;
          text-align: center;
          margin-left: 19%;
      }
    }
    div.kickstarter {
      img {
        width: 60%;
        display: block;
        margin-top: 100px;
        margin-left: 19%;
      }   
    }
  }
}

@media (min-width: 900px) {
  div.section6-container {
    h3 {
      margin: 50px 350px;
      font-weight: 400;
    }
    .girl2 {
      img {
        width: 60%;
        margin-left: 49px;
      }
      &:before {
          width: 60%;
      }
    }
    div.kickstarter {
      img {
        width: 60%;
        display: block;
        margin-top: 100px;
        margin-left: 160px;
      }   
    }
  }
}

@media (min-width: 1200px) { 
  div.section6-container {
    h3 {
      text-align: center;
      font-weight: 400;
    }
    .girl2 {
      border-right: solid white 10px;
      img {
        width: 100%;
        margin-left: 0;
      }
      &:after {
        width: 100%;
        height: 100%;
      }
      &:before {
        text-align: center;
        font-size: 20px;
        width: 100%;
        margin-left: 0;
      }
    }
    .girl1 {
      border-left: solid white 10px;
      img {
        width: 96%;
        margin-left: 0;
      }
      &:after {
        width: 96%;
        height: 100%;
      }
      &:before {
        text-align: center;
        margin-left: 0;
        font-size: 20px;
        width: 96%;
      }
    }
    div.kickstarter {
      img {
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
      }   
    }
  }   
}

@media (min-width: 1600px) { 
  div.section6-container {
    h3 {
      text-align: center;
      font-weight: 400;
    }
    .girl2 {
      img {
        width: 100%;
        margin-left: 0;
      }
      &:after {
        width: 100%;
        height: 100%;
      }
      &:before {
        text-align: center;
        font-size: 20px;
        width: 100%;
        margin-left: 0;
      }
    }
    .girl1 {
      img {
        width: 96%;
        margin-left: 0;
      }
      &:after {
        width: 96%;
        height: 100%;
      }
      &:before {
        text-align: center;
        font-size: 20px;
        width: 96%;
      }
    }
    div.kickstarter {
      img {
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
      }   
    }
  }  
}


//section 7

div.section7-container, div.contact-section3-container, div.about-section3-container {
  height: 550px;
  background: #f5f5f5;
  div.TTK-logo {
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 400px;
    }
  }
  div.mailing-list {
    .input-group {
      margin-left: auto;
      margin-right: auto;
      width: 600px;
    }   
  }
  button {
    background-color: $buttoncolor;
    color: white;
    &:hover {
      color: white;
      background-color: darken($buttoncolor, 15%);
    }
  }
  ul {
    padding-left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    li {
      display: inline-block;
      a {
        outline: none;
        border-radius: 50%;
        padding-top: 17px;
        padding-bottom: 13px;
        border: solid #686868 2px;
        background: none;
        &:hover {
          background: darken($buttoncolor, 15%);
          border-color: white;
          i {
            color: white;
          }
        }
        i {
          color: #686868;
        }
      }
    }
  }
  h3 {
    text-align: center;
    color: #686868;
    font-weight: 400;
  }
}

@media (max-width: 480px) {
  div.section7-container, div.contact-section3-container, div.about-section3-container {
    min-height: 450px;
    div.TTK-logo {
      img {
        width: 100%;
      }
    }
    div.mailing-list {
      .input-group {
        width: 90%;
      }   
    }
  }
}

@media (min-width: 768px) {
  div.section7-container {
    div.TTK-logo {
      img {
        width: 57%;
      }
    }
    div.mailing-list {
      .input-group {
        width: 90%;
      }   
    }
  }
}

@media (min-width: 900px) {
  div.section7-container {
    div.TTK-logo {
      img {
        width: 43%;
      }
    }
  }
}

@media (min-width: 1200px) {
  div.section7-container {
    width: 100%;
    div.TTK-logo {
      img {
        width: 25%;
      }
    }
    div.mailing-list {
      .input-group {
        width: 25%;
      }   
    }
  }
}

@media (min-width: 1600px) {
  div.section7-container {
    width: 100%;
    div.TTK-logo {
      img {
        width: 25%;
      }
    }
    div.mailing-list {
      .input-group {
        width: 25%;
      }   
    }
  }
}

// About Section 1 

header.header-about {
  min-height: 600px;
  background: black;
  position: relative;
  h1 {
    width: 100%;
    position: absolute;
    text-align: center;
    color: white;
    top: 130px;
    font-weight: 400;
  }
  video {
    display: block;
    margin: 200px auto 38px;
  }
}

// About Section 2

div.about-section2-wrapper {
  div.about-section2 {
    margin-right: 15%;
    margin-left: 15%;
    h2, h3, p {
      text-align: center;
      margin-bottom: 45px;
      font-size: 40px;
      font-weight: 400;
    }
    h2 {
      margin-top: 100px;
    }
    p {
      font-size: 20px;
    }
    p.bottom {
      margin-bottom: 100px;
    }
  }  
}

// Contact Section 1


.contact-nav.scrolled {
  background: rgb(68, 68, 68); //IE
  background: rgba(0, 0, 0, 0.78); //NON-IE
}

header.header-contact {
  min-height: 400px;
  background: #f5f5f5;
  position: relative;
  h1 {
    width: 100%;
    position: absolute;
    text-align: center;
    color: #454444;
    top: 163px;
    font-weight: 400;
  }
}

div.contact-section2 {
  width: 50%;
  display: block;
  margin: 50px auto 50px auto;
  .faqHeader {
      font-size: 27px;
      font-weight: 400;
      margin: -8px 0 27px 0;
  }
  .panel-heading [data-toggle="collapse"]:after {
      font-family: FontAwesome;
      content: "\f053";
      float: right;
      color: $buttoncolor;
      font-size: 18px;
      line-height: 22px;
      /* rotate "play" icon from > (right arrow) to down arrow */
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg);
  }
  .panel-heading [data-toggle="collapse"].collapsed:after {
      /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
      color: #454444;
  }
  .panel-body {
    background-color: white;
  }
  .contact-form {
    h3 {
      font-weight: 400;
    }
    p {
      color: #454444;
    }
    .panel-body {
      background: #f5f5f5;
      button {
        outline: none;
        border: none;
        background-color: $buttoncolor;
        color: white;
        padding: 9px 11px 7px;
        &:hover {
          color: white;
          background-color: darken($buttoncolor, 15%);
        }
      }
    }
  }
}

@media (max-width: 480px) {
  div.contact-section2 {
    margin: 50px 10px 0 10px;
    width: 95%;
  }
}

footer {
    margin: 50px 0;
}

.patent p {
    text-align: right;
    padding-right: 20px;
}

@media (max-width: 480px) {
    .patent p {
        text-align: left;
        padding-left: 20px;
    }
}

.copyright p {
    padding-left: 20px;
}

/*Form*/

.container p {
    text-align: center;
    padding-bottom: 10px;
    font-size: 15px;
}

.container h3 {
    font-size: 30px;
    padding-top: 20px;
    text-align: center;
    font-weight: 400;
}

div.panel-body {
  padding: 40px;
  background-color: #23263C;
  border-radius: 5px;
}

.mailing-list-messages, .form-messages {
    color: white;
}




