$buttoncolor: #0DA8E0;

body {
    overflow-x: hidden;
    font-family: 'Avenir';
}

header.parallax-window {
    min-height: 800px;
}

h2 {
    font-size: 3vw;
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn-lg {
    font-size: 1.2vw;
}

/* NAV */

.topnav {
    font-size: 14px; 
    padding: 5px 0 11px 0;
    border-bottom: none;
    .navbar-inner {
      width: 1500px;
      .navbar-collapse {
        .navbar-right {
          margin-top: 20px;
          a {
            color: white;
          }
        }
      }
    }
 }

#nav_image {
   width: 175px;
   height: 55px;
}

@media (max-width: 480px) {
    #nav_image {
        width: 120px;
        height: 37px;
    }
}

.navbar {
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.navbar.scrolled {
    background: rgb(68, 68, 68); //IE
    background: rgba(0, 0, 0, 0.78); //NON-IE
}

.btn {
    margin-bottom: 30px;
}

// Section 2

div.section2-container {
  margin: 50px 350px;
  h3 {
      font-size: 3.5vw;
      margin-bottom: 30px;
      margin-top: 45px;
  }
  p {
    font-size: 1.1vw;
    margin-bottom: 45px;
  }
  button {
    outline: none;
    border: none;
    background-color: $buttoncolor;
    color: white;
    padding: 9px 11px 7px;
    &:hover {
      color: white;
      background-color: darken($buttoncolor, 15%);
    }
  }
  button.buy-now-btn {
    margin-right: 55px;
  }
}

//Section 3

div.section3-container {
  min-height: 600px;
  position: relative;
  div.how-it-works {
    width: 565px;
    position: absolute;
    top: 63px;
    left: 350px;
    background: #fff;
    padding: 10px 28px;
    background: rgba(255, 255, 255, 0.5);
    h3 {
      font-size: 3.5vw;
      margin-bottom: 20px;
    }
    p {
      font-size: 1.1vw;
      margin-bottom: 25px;
      opacity: 0.8;
    }
    ul {
      margin-bottom: 25px;
      font-size: 0.9vw;
      list-style-type: circle;
      opacity: 0.8;
      li {
        margin-bottom: 15px;        
      }
      li:before {
        font-size: 170%;
      }
    }
  }
}

footer {
    margin: 50px 0;
}

.patent p {
    text-align: right;
    padding-right: 20px;
}

@media (max-width: 480px) {
    .patent p {
        text-align: left;
        padding-left: 20px;
    }
}

.copyright p {
    padding-left: 20px;
}

/*Form*/

.container p {
    text-align: center;
    padding-bottom: 10px;
    font-size: 15px;
}

.container h3 {
    font-size: 30px;
    padding-top: 20px;
    text-align: center;
}

div.panel-body {
  padding: 40px;
  background-color: #23263C;
  border-radius: 5px;
}

.mailing-list-messages, .form-messages {
    color: white;
}




